# Monitoring

- want to monitor nodes with boto 3 describe instances
- want to monitor slurm
- want to monitor docker
- want to monitor outputs

all of these on ascii terminal

all will likely use dataframes

... therefore i need way to pretty print df 

enter tabulate
like need to install this in water

- https://medium.com/@HeCanThink/tabulate-your-go-to-solution-for-stylish-tables-in-python-35ede5145e28

In [1]:
from tabulate import tabulate
data = [
    ["Alice", 28, "Engineer"],
    ["Bob", 24, "Designer"],
    ["Charlie", 32, "Writer"]
]
headers = ["Name", "Age", "Occupation"]
table = tabulate(data, headers=headers, tablefmt="grid", numalign="center")
print(table)

ModuleNotFoundError: No module named 'tabulate'

# more to come Â©